.settings/
*.iml
.gradle
.gradlew
gradle.*
grandlew.*
gradle/

.project
.classpath
proguard-rules.pro

local.properties
.idea/*
.DS_Store
build/
captures/
.externalNativeBuild

#Node
node_modules/
package-lock.json

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.npm
out/

#VSCode
.vscode-test

#Yarn
.yarn/


# Credentials
intrusiondetectorprivatekey.json
credentials.json
google-services.json
